<header>
    <button class="cta">
        <span class="hover-underline-animation">Inicio</span>
    </button>
    <br>
    <div>
    <button class="cta">
        <span class="hover-underline-animation">Registro</span>
    </button>
    <button class="cta">
        <span class="hover-underline-animation">Inicia Sesión</span>
    </button>
    </div>
</header>
<nav class="contactanos">
    <button class="learn-more">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text">Contactanos</span>
      </button>
</nav>

